.progress {
  position: relative;
  height: 100%;
}

.progress__value-text {
  position: absolute;
  top: 60px;
  // left: 45px;
  right: 55px;
  font-size: 12px;
  color: white;
}

.progress__svg {
  transform: rotate(-90deg);
}

.progress__meter,
.progress__value {
  fill: none;
}

.progress__meter {
  stroke: #ccc;
}

.progress__value {
  stroke: #4caf50;
  transition: all 100ms;
}
