/////////////// Custom Graph scss: starts here //////////////////////////
.progress-container-horizontal {
  background: #d2e7ed;
  border-radius: 5px;
  margin: 10px 0;
  height: 10px;
  width: 100%;
  cursor: pointer;
  z-index: 5;
}

.progress-horizontal {
  background-color: #2c2738;
  border-radius: 5px;
  height: 10px;
  transition: width 0.1s linear;
}

.progress-container {
  position: relative;
  // background: #d2e7ed;
  border-radius: 5px;
  margin: 10px 0;
  height: 200px;
  width: 10px;
  cursor: pointer;
  z-index: 5;

  .progress {
    background-color: #2c2738;
    border-radius: 5px;
    // height: 10px;
    width: 10px;
    transition: width 0.1s linear;
    position: absolute;
    bottom: 0;
    left: 0px;
  }
}

.tagPerformance-container {
  position: relative;
  .horizotal-line-0 {
    position: absolute;
    width: 90%;
    top: 200px;
    border: 1px dotted #a8cedd;
    margin: 1%;
  }

  .horizotal-line-20 {
    position: absolute;
    width: 90%;
    top: 160px;
    border: 1px dotted #a8cedd;
    margin: 1%;
  }
  .horizotal-line-40 {
    position: absolute;
    width: 90%;
    top: 120px;
    border: 1px dotted #a8cedd;
    margin: 1%;
  }
  .horizotal-line-60 {
    position: absolute;
    width: 90%;
    top: 80px;
    border: 1px dotted #a8cedd;
    margin: 1%;
  }
  .horizotal-line-80 {
    position: absolute;
    width: 90%;
    top: 40px;
    border: 1px dotted #a8cedd;
    margin: 1%;
  }
  .horizotal-line-100 {
    position: absolute;
    width: 90%;
    top: 0px;
    border: 1px dotted #a8cedd;
    margin: 1%;
  }

  .x-axis-label-0 {
    position: absolute;
    top: 200px;
    left: 10px;
  }

  .x-axis-label-20 {
    position: absolute;
    top: 160px;
    left: 10px;
  }
  .x-axis-label-40 {
    position: absolute;
    top: 120px;
    left: 10px;
  }
  .x-axis-label-60 {
    position: absolute;
    top: 80px;
    left: 10px;
  }
  .x-axis-label-80 {
    position: absolute;
    top: 40px;
    left: 10px;
  }
  .x-axis-label-100 {
    position: absolute;
    top: 0px;
    left: 10px;
  }
}

.progress-label {
  // background-color: #2c2738;
  border-radius: 5px;
  height: 10px;
  transition: width 0.1s linear;
}

/////////////// Custom Graph scss: ends here //////////////////////////
